<!--
  Blog Post Template (Emotional Essay V2 - Letter from Heart)
  ==================================================
  V1이 시각적 안정감을 가진 수필이었다면, V2는 특정 수신인(독자 혹은 나 자신)에게 
  보내는 '편지' 형식의 구조입니다.

  핵심 구조 변화:
  - "Dear. [독자에게 건네는 별칭]"으로 시작하여 편지 형식 차용
  - 대형 이미지를 본문 중간에 배치하여 텍스트의 무게를 분산
  - 하단에 "P.S."(추신) 섹션을 통해 진솔한 여운 남기기
-->

<p data-ke-size="size16">&nbsp;</p>

<p data-ke-size="size16" style="color: #888; letter-spacing: 1px;">Dear. [애칭 혹은 오늘의 당신에게]</p>

<p data-ke-size="size16">&nbsp;</p>

<h1 style="text-align: left; font-weight: 700; border-left: 5px solid #555; padding-left: 15px;">[제목 - 부치지 못한 편지 같은 서정적인
    제목]</h1>

<p data-ke-size="size16">&nbsp;</p>

<p data-ke-size="size16">[서문 - "문득, 내리는 비를 보며 당신의 안부를 묻고 싶어졌습니다."와 같이 아주 사적인 동기에서 글을 시작합니다. 정형화된 형식을 깨트리고 <b>진심이 담긴
        어조</b>로 독자의 마음 문을 두드립니다.]</p>

<p data-ke-size="size16">&nbsp;</p>

<figure class="imageblock alignCenter" data-ke-mobilestyle="widthContent" data-filename="image1.png">
    <span data-url="" data-phocus="">
        <img src="image1.png" data-filename="image1.png" style="opacity: 0.9;" />
    </span>
    <figcaption>[그리움이나 따뜻한 온기가 느껴지는 이미지]</figcaption>
</figure>

<p data-ke-size="size16">&nbsp;</p>

<div style="background-color: #fcfcfc; padding: 30px; border-radius: 10px; line-height: 2.2;">
    <p data-ke-size="size16">[본문 - 긴 호흡으로 삶의 단면을 이야기합니다. 소주제(h2)로 내용을 끊기보다는, 문맥의 흐름에 따라 자연스럽게 생각이 이어지도록 하세요. 중간중간 <b>행간의
            여백</b>을 두어 독자가 자신의 이야기를 대입할 시간을 줍니다.]</p>
</div>

<p data-ke-size="size16">&nbsp;</p>

<blockquote data-ke-style="style2">
    <p data-ke-size="size16">"우리는 모두 누군가에게 한 통의 따뜻한 편지가 되고 싶어 합니다."</p>
</blockquote>

<p data-ke-size="size16">&nbsp;</p>

<figure class="imageblock alignCenter" data-ke-mobilestyle="widthContent" data-filename="image2.png">
    <span data-url="" data-phocus="">
        <img src="image2.png" data-filename="image2.png" />
    </span>
</figure>

<p data-ke-size="size16">&nbsp;</p>

<hr contenteditable="false" data-ke-type="horizontalRule" data-ke-style="style1" />

<p data-ke-size="size16" style="text-align: right; color: #666; font-family: serif;">
    [오늘의 날짜], [작성자/페르소나 이름] 드림.
</p>

<p data-ke-size="size16">&nbsp;</p>

<!-- PS 섹션 -->
<p data-ke-size="size16"><b>P.S.</b> [글의 주제와는 살짝 떨어져 있지만, 전하고 싶은 작고 다정한 당부나 비밀스러운 이야기 한 줄.]</p>

<p data-ke-size="size16">&nbsp;</p>

<p data-ke-size="size14" style="text-align: center; color: #aaa;">
    [HashTags]
</p>